---
// src/components/AppliedMathematicsContributors.astro
import CachedGitHubContributors from './CachedGitHubContributors.astro';
---

<div class="applied-mathematics-contributors">
  <CachedGitHubContributors 
    owner="SiliconWit" 
    repo="applied-mathematics" 
    maxDisplay={7}
  />
</div>

<style>
  .applied-mathematics-contributors {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
